{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}

{% block main %}

<!--cards-->
<div class="d-flex justify-content-center">
  <div class="card mb-5" style="max-width: 540px;" >
      <div class="col-md-12">
        <div class="card-body">
          <h5 class="card-title">{{ student.course }} - talabasi</h5>
          <p class="card-text"><strong>Ism:</strong> {{ student.name }}</p>
          <p class="card-text"><strong>Email:</strong> {{ student.email }}</p>
          <p class="card-text"><strong>Ro'yxatdan o'tilgan vaqt:</strong> {{ student.enrolled_at }}</p>
          <a href="{% url 'home' %}" class="btn btn-primary" data-mdb-ripple-init>Ortga</a>
        </div>
      </div>
  </div>
</div>
<!--cards-->


{% endblock main %}